.dropdown {
  background-color: #fff;
  width: 32px;
}

.dropdown__header {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
}

.dropdown__item_hidden {
  display: none;
}

.dropdown__item_active {
  display: block;
  cursor: pointer;
}



.dropdown__item {
  position: absolute;
}

