@import "../../../../styles/media";

.header__search {
  display: flex;
  gap: 50px;
  cursor: pointer;
  @include desktop-l {
    gap: 30px;
  }
}

.header__search_logo {
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 16px;
  @include desktop {
    font-size: 14px;
  }
}

.header__search_item {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #D9D9D9;
}

.header__search_category {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #1F1F33;
  align-items: center;
}

.header__search_categoryitem {
  display: flex;
  gap: 8px;
  align-items: center;

}

