@import "../../styles/media";

.header {
  position: relative;
  display: flex;
  border-radius: 16px;
  background: #FFF;
  padding: 16px 32px;
  margin-top: 24px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;

  @include desktop-l {
    padding: 12px 24px;
  }
}
























